body {
    margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: white;
    background-color: transparent;
    outline: 2px soldi #fff;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
}

.input:focus+.input-label, 
.input:valid+.input-label {
    transform: 
    translate(10px, -14px) scale(.8);
    color: #d1c5fc;
    background-color: #242329;
    outline-color: #d1c5fc;
}