body {
    margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.shop-cart {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-left: 7px;
    padding-top: 7px;
    background-color: #8D9EFF;
}   

.shop-cart-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 1px;
}

.nav-item-right {
    padding-left: 5px;
}

.nav-item-caption {
    margin-top: 1px;
}

.navbar-nav {
    display: inline-block;
    text-align: center;
}

.nav-item > button {
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color: #8D9EFF;
    padding:0px;
}

.nav-item > button > a > img {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.nav-all-icon {
    height: 55px;
    width: 55px;
    margin:0px;
}