#box-no-product{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

.col{
    border-radius: 2%;
}

.rounded {
    border-radius: 2%;
}

img {
    max-width: 50%;
    max-height: 75%;
}